@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rowdies:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=M+PLUS+Rounded+1c&display=swap');


*, body{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    


}


header{
background-color: rgb(189, 0, 0);
padding: 5px;
color: white;
border-bottom: 3px solid rgb(143, 0, 0);
}

header > h1{
    text-align: center;
    font-size: 2.5em;
    font-style: italic;
    font-family: "M PLUS Rounded 1c", serif;
}

div#ferrari{
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(Ferrari-sf90-spider-2.webp);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-sizing: border-box;
}

div#ferrari:hover{
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:  linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.39) 75%), url(Ferrari-sf90-spider-2.webp);
    width: 100%;
    height: 100vh;
    display: flex;
    transition: 700ms linear;
    flex-direction: column;
    text-align: center;
}

div#ferrari > img{

width: 130px;
height: 100px;
display: flex;
transform: translate(940%, -70%);


}



 div#ferrari > h2{
    text-align: center;
    padding-top: 10px;
    color: white;
    margin-left: 420px;
    margin-bottom: 20px;
    font-size: 1.8em;
    
}

div#texto > p{
    width: 500px;
    font-family: "M PLUS Rounded 1c", serif;
    color: white;
    padding: 5px;
    height: 400px;
    text-align: left;
    font-size: small;
    overflow-y: auto; /*barra de rolagem*/
    display: flex;
    transform: translate(5%, 20%);

    
}

div#texto > p:hover{
    width: 500px;
    font-family: "M PLUS Rounded 1c", serif;
    padding: 5px;
    color: white;
    height: 400px;
    text-align: left;
    font-size: small;
    overflow-y: auto; /*barra de rolagem*/
    overflow-y: auto; /*barra de rolagem*/

}

div#texto > p::-webkit-scrollbar {
    width: 3px; /* Largura da barra de rolagem */
}

div#texto > p::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0); /* Cor da parte que pode ser arrastada */
    border-radius: 4px;
}

div#texto > p::-webkit-scrollbar-track {
    width: 6px;
    background-color: rgba(250, 235, 215, 0); /* Cor de fundo do track (onde a barra de rolagem se move) */
}


div#carro{
    vertical-align: top;
    display: inline-flex;
    width: 800px;
    
    
}

div#carro > img{
    width: 700px;
    border-radius: 20px;

}

div#carro > img:hover{
    border: 1px solid black;
    
}

div#motorferrari{
    position: absolute;
    bottom: 300px;


}

h2#motor{
    text-align: center;
    padding-top: 50px;
}

div#interior{
    background-image: url(Ferrari-sf90-spider-7.webp);
    background-position: center center;
    position: absolute;
    top: 109%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    display: flex;

    


    
    

    
}


div#interior:hover{
    background-image:  linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.39) 79%), url(Ferrari-sf90-spider-7.webp);
    background-position: center center;
    position: absolute;
    top: 109%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    display: flex;

    


    
    

    
}


div#interior > p{
    width: 500px;
    font-family:  "M PLUS Rounded 1c", serif;
    text-align: right;
    color: white;
    font-size: smaller;
    height: 500px;
    margin: 4px;
    transform: translate(290%, 50%);
    overflow-y: scroll;
    overflow-x: hidden;
    
    

}

div#interior > p:hover{
    width: 500px;
    font-family:  "M PLUS Rounded 1c", serif;
    text-align: right;
    color: white;
    font-size: smaller;
    height: 500px;
    margin: 4px;
    transform: translate(290%), 50%;
    overflow-y: scroll;

}

div#interior > p::-webkit-scrollbar {
    width: 3px; /* Largura da barra de rolagem */
}

div#interior > p::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.322); /* Cor da parte que pode ser arrastada */
    border-radius: 4px;
}

div#interior > p::-webkit-scrollbar-track {
    width: 6px;
    background-color: rgba(250, 235, 215, 0); /* Cor de fundo do track (onde a barra de rolagem se move) */
}

div#rodas{
    background-image:url(pneu-ferrari.jpg);
    width: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    position: absolute;
    height: 100vh;
    top: 205%;
    overflow-x: hidden;    

}

div#rodas:hover{
    background-image:  linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.39) 75%), url(pneu-ferrari.jpg);
    width: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    position: absolute;
    height: 100vh;
    overflow-x: hidden;
    top: 205%;

}

div#rodas > p{
    width: 500px;
    font-family:   "M PLUS Rounded 1c", serif;
    text-align: right;
    color: white;
    font-size: smaller;
    height: 500px;
    margin: 4px;
    transform: translate(290%, 50%);
    overflow-y: auto;
    overflow-x: hidden;
}

div#motor{
    background-image:url(motor-ferrari.jpg);
    width: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    position: absolute;
    height: 100vh;
    top: 305%;
    overflow-x: hidden;   
}

div#motor:hover{
    background-image:  linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.39) 79%), url(motor-ferrari.jpg);
    width: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    position: absolute;
    height: 100vh;
    top: 305%;
    overflow-x: hidden;   
}

div#motor > p{
    width: 500px;
    font-family:   "M PLUS Rounded 1c", serif;
    text-align: right;
    font-style: normal;
    color: white;
    font-size: normal;
    height: 500px;
    margin: 4px;
    transform: translate(290%, 50%);
    overflow-y: auto;
    overflow-x: hidden;
}

div#motor > p:hover{
    width: 500px;
    font-family:   "M PLUS Rounded 1c", serif;
    text-align: right;
    color: white;
    font-size: smaller;
    height: 500px;
    margin: 4px;
    transform: translate(290%, 50%);
    overflow-y: auto;
    overflow-x: hidden;
}

ul{
    display: flex;
    justify-content: center;
    
}

ul > li{
    align-items: center;
    list-style: none;
    padding-right: 60px;
    
}

ul > li > a{
    text-align: center;
    color: black;
    font-size: 1.2em;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

ul > li > a:hover{
    font-weight: 500;
    font-size: 1.3em;
    transition: 300ms linear; 
    background-color: rgb(116, 0, 0);
    color: white;
    border-radius: 3px;
    padding: 2px;
}

p{
    text-align: justify;
    text-anchor: middle;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-indent: 7px;
    font-size: 13px;
    color: aquamarine;
    position: relative;
    width: 300px;
    padding-right: 70px;
}
