@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-1:
    --cor-2:
    --cor-3:
    --cor-4:
}

body, html{
    overflow-x: hidden;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.princ{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-size: contain;
    background:linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url(imagens/carne-vegana.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h2{
    color: white;
    font-size: 3.6em;
    text-align: center;
    margin: 0px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
    font-family:  "Bagel Fat One", system-ui, sans-serif;

}

.verde{
    color: rgb(0, 182, 0);
}

.marrom{
    color: rgb(192, 77, 0);
}

.texto{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1000px;
    
}

.texto p{
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 25px;
    padding: 30px;
    text-indent: 10px;
    font-family:  "Noto Sans Display", sans-seri;
    font-size: 1.3em;
    letter-spacing: 1.5px;
    text-align:justify;
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.527);
    margin-top:20px;
    align-self: center;
    color: rgb(255, 250, 203);
    
}

.infoveg{
    display: flex;
    left: 50%;
    margin: auto;
    gap: 50px;
    flex-direction: row;
    align-items: center;
    width: 1720px;
    height: 1200px;
}

.produtos{

    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}