@charset "UTF-8";



@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --cor-1:
    --cor-2:
    --cor-3:
    --cor-4:
}

body, html{
    overflow-x: hidden;
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.princ{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-size: contain;
    background:linear-gradient(rgba(0, 0, 0, 0.514), rgba(0, 0, 0, 0.514)), url(imagens/carne-vegana.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


h2{
    color: white;
    font-size: 3.6em;
    text-align: center;
    margin: 0px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39);
    font-family:  "Bagel Fat One", system-ui, sans-serif;

}

.verde{
    color: rgb(0, 182, 0);
}

.marrom{
    color: rgb(192, 77, 0);
}

.texto{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 1000px;
    
}

.texto p{
    background-color: rgba(0, 0, 0, 0.37);
    border-radius: 25px;
    padding: 30px;
    text-indent: 10px;
    font-family:  "Noto Sans Display", sans-seri;
    font-size: 1.3em;
    letter-spacing: 1.5px;
    text-align:justify;
    text-shadow: 1px 1px 1px  rgba(0, 0, 0, 0.527);
    margin-top:20px;
    align-self: center;
    color: rgb(255, 250, 203);
    
}

.infoveg{
    display: flex;
    left: 50%;
    margin: auto;
    gap: 50px;
    flex-direction: wrap;
    align-items: center;
    width: 1720px;
    height: 1200px;
}

.produtos{
    align-self: safe;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.veganinfo{
    display: flex;
    background:linear-gradient(to right, rgb(47, 146, 47), rgb(0, 65, 0));
    flex-wrap: wrap;
    justify-content: space-around;
    background-size: contain;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.infoveg img#legumes{
    position: absolute;
    right: 920px;
    height: 100vh;

}

.items{
    flex-flow: column;
    align-content: end;
    justify-content: end;
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    overflow: hidden;
    align-self: center;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

.items:hover{
    flex-flow: column;
    align-content: end;
    justify-content: end;
    display: flex;
    margin-top: 10px;
    margin-left: 15px;
    overflow: hidden;
    align-self: center;
    width: 500px;
    height: 600px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}


button{
    margin: 10px;
    text-transform: uppercase;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 73, 6);
    width: auto;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    border: 2px solid green;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
}

button:hover{
    margin: 10px;
    background-color: rgb(0, 73, 6);
    color: rgb(255, 255, 255);
    width: auto;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
}

.descri{
    text-align: center;
    align-self: end;
    font-family:  "Quicksand", sans-serif;
}

.pratos{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 1.2em;
    text-shadow: none;
}

.prato{
    width: auto;

}