@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Oi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

:root{
    --cor-primaria:#FFD800;
    --cor-secundaria:#FF9826;
    --cor-do-texto:#28251B;
    --cor-titulo:#007a29;
    --cor-de-fundo:#fff2bc;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body,html{
    background-color: var(--cor-de-fundo);
}

header{
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 30px;
    align-items: center;
    border-bottom:5px solid var(--cor-secundaria);
    justify-content: space-between;
    width: 100%;
    box-shadow: 4px 3px 4px rgba(29, 15, 0, 0.288);
}

header > h1{
    font-size: 2.5em;
    font-family: "Slackey", serif;
    background: linear-gradient(to right, #007a29 50%, #FF9826 50%);
    padding-left: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu{
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    


}

.menu button{
    background: none;
    color: var(--cor-do-texto);
    padding: 5px;
    margin: 5px;
    font-size:  20px;
    border: 2px solid var(--cor-secundaria);
    border-radius: 20px;
}

.menu button:hover{
    background-color: var(--cor-secundaria);
    color:white;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.274);
}

.menu button:active{
    background-color: #e78b00;
    color:rgb(255, 255, 255);
    padding: 5px;
    font-weight: 400;
    margin: 3px;
    font-size:20px;
    border: 3px double var(--cor-primaria);
    border-radius: 20px;
}

.opcoes{
   padding: 15px;
   display: inline;
}

.opcoes li {
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    color: var(--cor-secundaria);
    border-radius: 2px;
}

.opcoes li:hover{
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    border-bottom: 2px solid var(--cor-secundaria);
    transition:opacity 1.5s ease-in-out;
    color:rgb(0, 0, 0);
    border-radius: 2px;
}

.opcoes li a{
    font-family: "Atkinson Hyperlegible Next", serif;
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: 500;
    transition: .5s;
    font-size:larger;
}




.opcoes li a:hover{
    font-family: "Atkinson Hyperlegible Next", serif;
    color: var(--cor-secundaria);
    text-decoration: none;
    font-weight: 700;
    transition: .5s;
    font-weight:500;
    font-size:larger;
}

.opcoes li a:active{
    font-family: "Atkinson Hyperlegible Next", serif;
    color: var(--cor-primaria);
    text-decoration: none;
    transition: .5s;
   font-weight:500;
   font-size:larger;
}

img#logo{
    position: absolute;
    right: 96%;
    top: -5px;
    width: 85px;

}

div#apresentaçao{
    background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.733) 60%),  url(imagens/imagem01.jpg);
    background-size: cover;
    display: flex;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}



p#vegan{
    color: var(--cor-de-fundo);
    align-content:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3em;
    text-justify: auto;
    margin: 78px;


}