@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Oi&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Slackey&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&family=Slackey&display=swap');

:root{
    --cor-primaria:#FFD800;
    --cor-secundaria:#FF9826;
    --cor-do-texto:#28251B;
    --cor-titulo:#007a29;
    --cor-de-fundo:#fff2bc;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body,html{
    background-color:white;
}

header{
    background-color: var(--cor-secundaria);
    display: flex;
    padding: 30px;
    align-items: center;
    border-bottom:5px solid var(--cor-secundaria);
    justify-content: space-between;
    width: 100%;
    box-shadow: 4px 3px 4px rgba(29, 15, 0, 0.288);
}

header > h1{
    font-size: 2.5em;
    font-family: "Slackey", serif;
    background: linear-gradient(to right, #00a035 50%, #ffffff 50%);
    padding-left: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    position: absolute;
    left: 45%;
    bottom: 80%;
    font-size: 3.8em;
    font-family: "Freckle Face", system-ui;
    color: #008d18;
    border-radius: 4px;
    border-bottom: 6px solid #e4c200;
}

.menu{
    display: flex;
    justify-content: center;
    flex-direction: wrap;
    


}

.menu button{
    background: #da9500;
    color: white;
    padding: 5px;
    margin: 5px;
    font-size:  20px;
    border: none;
    border-radius: 20px;
}

.menu button:hover{
    background-color: #b66100;
    color:white;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.274);
}

.menu button:active{
    background-color: #d37f00;
    color:rgb(255, 255, 255);
    padding: 5px;
    font-weight: 400;
    margin: 3px;
    font-size:20px;
    border: 3px double #b66100;
    border-radius: 20px;
}

.opcoes{
   padding: 15px;
   display: inline;
   
}

.opcoes li {
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    color: var(--cor-de-fundo);
    border-radius: 2px;
   
}

.opcoes li:hover{
    text-decoration: none;
    list-style-type: none;
    padding: 10px;
    border-bottom: 2px solid var(--cor-primaria);
    border-radius: 2px;
    transform: scale(1.03);
    transition: 200ms linear;
    
    
    
}

.opcoes li a{
    font-family: "Atkinson Hyperlegible Next", serif;
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size:larger;
   
   
    

}




.opcoes li a:hover{
    font-family: "Atkinson Hyperlegible Next", serif;
    color: var(--cor-de-fundo);
    text-decoration: none;
    font-weight: 700;
    font-weight:500;
    font-size:larger;
   
    
   
    
}

.opcoes li a:active{
    font-family: "Atkinson Hyperlegible Next", serif;
    color: var(--cor-primaria);
    text-decoration: none;
    font-weight:500;
    font-size:larger;
    
}

img#logo{
    position: absolute;
    right: 96%;
    top: -5px;
    width: 85px;

}

div#apresentaçao{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.425),var(--cor-secundaria) 65%), url("imagens/background-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100vw;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100vh;
   
}



p#vegan{
    color: var(--cor-do-texto);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.3em;
    text-justify: left;
    width: 900px;
    position: absolute;
    bottom: 5%;
    right: 55%;
    color: white;
    font-weight: 300;
    align-self: center;
    margin: 78px;



}

.caixas{
    display: flex;
    justify-content: center;
    gap: 170px;
}

.quadro{
    background-color: rgb(255, 255, 255);
    width: 600px;
    margin: 20px;
    align-content:center;
    border-radius: 50px;
    height: 600px;
    border: 0.3px solid black;
    overflow: hidden;
    
}

.quadro p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    align-content: flex-end;
    margin: 5px;
    color: var(--cor-do-texto);
    font-size: 1.0em;
}

.quadro img#imgvegan{
   position: relative;
   align-items: center;
   bottom: 50px;
}

.principal{

    display: flex;
    margin-top: 50px;
}

.princ{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10px;
    text-align: center;
    gap: 50px;
    align-content:flex-start;
    justify-items: center;
    font-size: 1.1em;
    color: var(--cor-do-texto);

}
.ilustra1{
    z-index: 3000;
    position: absolute;
    bottom: 10%;
    left: 60%;
    width: 900px;
    height: 850px;
    
}

.icone{
    display: flex;
    align-self: center;
    height: 100px;
    width: 120px;
    
}

.conteudo{
    background: url(imagens/fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
}

footer{
    justify-content: right;
    align-self: center;
    align-items: flex-start;
    background-color: #702d00;
    width: 100%;
    height: 1100px;
    display: flex;
    gap: 60px;
    border-bottom: 10px solid #351500;

}


.lista{
    color: white;
    display: flex;
    margin: 90px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.8em;
    
 
}

.lista h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: 2px solid orange;
}

.lista li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    display: flex;
}

footer  h1{
    position: absolute;
    font-size: 2.5em;
    font-family: "Slackey", serif;
    background: linear-gradient(to right, #00a035 50%, #ffffff 50%);
    padding-left: 10px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    right: 50%;
}


footer form{
    position: absolute;
    bottom: -85%;
    right: 70%;
    border-radius: 10px;
    background-color: #ff7518;
    width: 600px;
    height: 750px;
}

