@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rowdies:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=M+PLUS+Rounded+1c&display=swap');


*, body{
    
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow: hidden;
    
    


}


header{
background-color: rgb(255, 255, 255);
padding: 5px;
color: rgb(0, 0, 0);
border-bottom: 3px solid rgb(143, 0, 0);
}

header > h1{
    text-align: center;
    font-size: 2.5em;
    padding: 2px;
    font-style: italic;
    font-family: "M PLUS Rounded 1c", serif;
}

.carros{
    position: relative;
    width: 100vw;
    height: 100vh;
}

#slide1:target, #slide2:target, #slide3:target{
    opacity: 1;
}

.slide{
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    align-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
   
}

#slide1{
   background:  linear-gradient( 45deg  rgb(224, 165, 2) rgb(252, 122, 0));;
}


#slide2{
    background:  linear-gradient( 45deg  rgb(224, 165, 2) rgb(252, 122, 0));;
}

#slide3{
    background:  linear-gradient( 45deg  rgb(54, 54, 54) rgb(26, 13, 2));;
}


ul{
    display: flex;
    justify-content: center;
    
}

ul > li{
    align-items: center;
    list-style: none;
    padding-right: 60px;
    
}

ul > li > a{
    text-align: center;
    font-size: 1.2em;
    color: rgb(196, 0, 0);
    padding: 7px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

ul > li > a:hover{
    font-weight: 500;
    font-size: 1.3em;
    transition: 300ms linear; 
    background-color: rgb(148, 0, 0);
    color: rgb(255, 255, 255);
    padding: 6px;
}

